.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  background: #fafafa;
  transition: 0.2s;
}

.menu-item:hover {
  background: #f0f0f0;
}

.menu-item button {
  background: #2ecc71;
  border: none;
  padding: 8px 14px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.menu-item button:hover {
  background: #27ae60;
}